In [1]:
import pandas as pd
import numpy as np

## Dataframe: data.csv

In [17]:
df = pd.read_csv('/Users/nandhakishorecs/Documents/IITM/Jan_2025/DA5402/DA5402_AI_Application/Model/dataset/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               577 non-null    int64
 1   season           577 non-null    int64
 2   city             570 non-null    object
 3   date             577 non-null    object
 4   team1            577 non-null    object
 5   team2            577 non-null    object
 6   toss_winner      577 non-null    object
 7   toss_decision    577 non-null    object
 8   result           577 non-null    object
 9   dl_applied       577 non-null    int64
 10  winner           574 non-null    object
 11  win_by_runs      577 non-null    int64
 12  win_by_wickets   577 non-null    int64
 13  player_of_match  574 non-null    object
 14  venue            577 non-null    object
 15  umpire1          577 non-null    object
 16  umpire2          577 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 81.3+ KB

In [25]:
print(f'Number of Batting teams:{len(np.unique(np.array(df['team1'])))}')
np.unique(np.array(df['team1']))

Number of Batting teams:9

array(['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Punjab Kings',
       'Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

In [26]:
print(f'Number of Bowling teams:{len(np.unique(np.array(df['team2'])))}')
np.unique(np.array(df['team2']))

Number of Bowling teams:9

array(['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Punjab Kings',
       'Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

In [ ]:
# Replace a team name in the specified column of a DataFrame.
def replace_team_name(df: pd.DataFrame, old_name: str, new_name: str, column_name: str) -> pd.DataFrame:
    df[column_name] = df[column_name].replace(old_name, new_name)
    return df

# Drop the row with team name in the specified column of a DataFrame.
def drop_team_name(df: pd.DataFrame, team_to_drop: str, column_name: str) -> pd.DataFrame:
    return df[df[column_name] != team_to_drop]

In [21]:
df = drop_team_name(df, team_to_drop='Kochi Tuskers Kerala', column_name='team1')
df = drop_team_name(df, team_to_drop='Kochi Tuskers Kerala', column_name='team2')

df = drop_team_name(df, team_to_drop='Pune Warriors', column_name='team1')
df = drop_team_name(df, team_to_drop='Pune Warriors', column_name='team2')

df = drop_team_name(df, team_to_drop='Rising Pune Supergiants', column_name='team1')
df = drop_team_name(df, team_to_drop='Rising Pune Supergiants', column_name='team2')

df = replace_team_name(df, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'team1')
df = replace_team_name(df, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'team2')

In [24]:
df['team1'] = df['team1'].replace('Delhi Daredevils', 'Delhi Capitals')
df['team2'] = df['team2'].replace('Delhi Daredevils', 'Delhi Capitals')

df['team1'] = df['team1'].replace('Kings XI Punjab', 'Punjab Kings')
df['team2'] = df['team2'].replace('Kings XI Punjab', 'Punjab Kings')

In [27]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Punjab Kings,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Sunrisers Hyderabad,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [29]:
np.unique(np.array(df['venue']))

array(['Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Green Park',
       'Himachal Pradesh Cricket Association Stadium',
       'JSCA International Stadium Complex', 'Kingsmead',
       'M Chinnaswamy Stadium', 'MA Chidambaram Stadium, Chepauk',
       'Maharashtra Cricket Association Stadium', 'New Wanderers Stadium',
       'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera',
       'Saurashtra Cricket Association Stadium', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium'], dtype=object)

## Dataframe: deliveries.csv

In [2]:
df1 = pd.read_csv('/Users/nandhakishorecs/Documents/IITM/Jan_2025/DA5402/DA5402_AI_Application/Model/dataset/deliveries.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [3]:
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
print(f'Number of Batting teams:{len(np.unique(np.array(df1['batting_team'])))}')
np.unique(np.array(df1['batting_team']))

Number of Batting teams:19

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals',
       'Delhi Daredevils', 'Gujarat Lions', 'Gujarat Titans',
       'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Kolkata Knight Riders',
       'Lucknow Super Giants', 'Mumbai Indians', 'Pune Warriors',
       'Punjab Kings', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Royal Challengers Bengaluru', 'Sunrisers Hyderabad'], dtype=object)

In [5]:
print(f'Number of Bowling teams:{len(np.unique(np.array(df1['bowling_team'])))}')
np.unique(np.array(df1['bowling_team']))

Number of Bowling teams:19

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals',
       'Delhi Daredevils', 'Gujarat Lions', 'Gujarat Titans',
       'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Kolkata Knight Riders',
       'Lucknow Super Giants', 'Mumbai Indians', 'Pune Warriors',
       'Punjab Kings', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Royal Challengers Bengaluru', 'Sunrisers Hyderabad'], dtype=object)

In [6]:
# Replace a team name in the specified column of a DataFrame.
def replace_team_name(df: pd.DataFrame, old_name: str, new_name: str, column_name: str) -> pd.DataFrame:
    df[column_name] = df[column_name].replace(old_name, new_name)
    return df

# Drop the row with team name in the specified column of a DataFrame.
def drop_team_name(df: pd.DataFrame, team_to_drop: str, column_name: str) -> pd.DataFrame:
    return df[df[column_name] != team_to_drop]

In [7]:
df1 = replace_team_name(df1, old_name = 'Royal Challengers Bangalore', new_name = 'Royal Challengers Bengaluru', column_name = 'batting_team')
df1 = replace_team_name(df1, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'batting_team')
df1 = replace_team_name(df1, old_name = 'Gujarat Lions', new_name = 'Gujarat Titans', column_name = 'batting_team')
df1 = replace_team_name(df1, old_name = 'Kings XI Punjab', new_name = 'Punjab Kings', column_name = 'batting_team')
df1 = replace_team_name(df1, old_name = 'Delhi Daredevils', new_name = 'Delhi Capitals', column_name = 'batting_team')

df1 = replace_team_name(df1, old_name = 'Royal Challengers Bangalore', new_name = 'Royal Challengers Bengaluru', column_name = 'bowling_team')
df1 = replace_team_name(df1, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'bowling_team')
df1 = replace_team_name(df1, old_name = 'Gujarat Lions', new_name = 'Gujarat Titans', column_name = 'bowling_team')
df1 = replace_team_name(df1, old_name = 'Kings XI Punjab', new_name = 'Punjab Kings', column_name = 'bowling_team')
df1 = replace_team_name(df1, old_name = 'Delhi Daredevils', new_name = 'Delhi Capitals', column_name = 'bowling_team')

In [8]:
df1 = drop_team_name(df1, team_to_drop = 'Kochi Tuskers Kerala', column_name = 'bowling_team') 
df1 = drop_team_name(df1, team_to_drop = 'Kochi Tuskers Kerala', column_name = 'batting_team') 

df1 = drop_team_name(df1, team_to_drop = 'Pune Warriors', column_name = 'bowling_team') 
df1 = drop_team_name(df1, team_to_drop = 'Pune Warriors', column_name = 'batting_team') 

df1 = drop_team_name(df1, team_to_drop = 'Rising Pune Supergiants', column_name = 'bowling_team') 
df1 = drop_team_name(df1, team_to_drop = 'Rising Pune Supergiants', column_name = 'batting_team') 

df1 = drop_team_name(df1, team_to_drop = 'Rising Pune Supergiant', column_name = 'bowling_team') 
df1 = drop_team_name(df1, team_to_drop = 'Rising Pune Supergiant', column_name = 'batting_team')

In [9]:
print(f'Number of Batting teams:{len(np.unique(np.array(df1['batting_team'])))}')
np.unique(np.array(df1['batting_team']))

Number of Batting teams:10

array(['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Titans',
       'Kolkata Knight Riders', 'Lucknow Super Giants', 'Mumbai Indians',
       'Punjab Kings', 'Rajasthan Royals', 'Royal Challengers Bengaluru',
       'Sunrisers Hyderabad'], dtype=object)

In [10]:
print(f'Number of Bowling teams:{len(np.unique(np.array(df1['bowling_team'])))}')
np.unique(np.array(df1['bowling_team']))

Number of Bowling teams:10

array(['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Titans',
       'Kolkata Knight Riders', 'Lucknow Super Giants', 'Mumbai Indians',
       'Punjab Kings', 'Rajasthan Royals', 'Royal Challengers Bengaluru',
       'Sunrisers Hyderabad'], dtype=object)

In [11]:
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [16]:
# df1.drop(columns=['match_id', 'inning', 'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder'], axis = 1)
np.unique(np.array(df1['total_runs']))

array([0, 1, 2, 3, 4, 5, 6, 7])

## Dataframe: matches.csv

In [ ]:
df2 = pd.read_csv('/Users/nandhakishorecs/Documents/IITM/Jan_2025/DA5402/DA5402_AI_Application/Model/dataset/matches.csv')
df2.info()

In [ ]:
df2.head()

In [ ]:
print(f'Number of Batting teams:{len(np.unique(np.array(df2['team1'])))}')
np.unique(np.array(df2['team1']))

In [ ]:
print(f'Number of Bowling teams:{len(np.unique(np.array(df2['team2'])))}')
np.unique(np.array(df2['team2']))

In [ ]:
df2 = replace_team_name(df2, old_name = 'Royal Challengers Bangalore', new_name = 'Royal Challengers Bengaluru', column_name = 'team1')
df2 = replace_team_name(df2, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'team1')
df2 = replace_team_name(df2, old_name = 'Gujarat Lions', new_name = 'Gujarat Titans', column_name = 'team1')
df2 = replace_team_name(df2, old_name = 'Kings XI Punjab', new_name = 'Punjab Kings', column_name = 'team1')
df2 = replace_team_name(df2, old_name = 'Delhi Daredevils', new_name = 'Delhi Capitals', column_name = 'team1')

df2 = replace_team_name(df2, old_name = 'Royal Challengers Bangalore', new_name = 'Royal Challengers Bengaluru', column_name = 'team2')
df2 = replace_team_name(df2, old_name = 'Deccan Chargers', new_name = 'Sunrisers Hyderabad', column_name = 'team2')
df2 = replace_team_name(df2, old_name = 'Gujarat Lions', new_name = 'Gujarat Titans', column_name = 'team2')
df2 = replace_team_name(df2, old_name = 'Kings XI Punjab', new_name = 'Punjab Kings', column_name = 'team2')
df2 = replace_team_name(df2, old_name = 'Delhi Daredevils', new_name = 'Delhi Capitals', column_name = 'team2')

In [ ]:
df2 = drop_team_name(df2, team_to_drop = 'Kochi Tuskers Kerala', column_name = 'team1') 
df2 = drop_team_name(df2, team_to_drop = 'Kochi Tuskers Kerala', column_name = 'team2') 

df2 = drop_team_name(df2, team_to_drop = 'Pune Warriors', column_name = 'team1') 
df2 = drop_team_name(df2, team_to_drop = 'Pune Warriors', column_name = 'team2') 

df2 = drop_team_name(df2, team_to_drop = 'Rising Pune Supergiants', column_name = 'team1') 
df2 = drop_team_name(df2, team_to_drop = 'Rising Pune Supergiants', column_name = 'team2') 

df2 = drop_team_name(df2, team_to_drop = 'Rising Pune Supergiant', column_name = 'team1') 
df2 = drop_team_name(df2, team_to_drop = 'Rising Pune Supergiant', column_name = 'team2')

In [ ]:
print(f'Number of Batting teams:{len(np.unique(np.array(df2['team1'])))}')
np.unique(np.array(df2['team1']))

In [ ]:
print(f'Number of Bowling teams:{len(np.unique(np.array(df2['team2'])))}')
np.unique(np.array(df2['team2']))